<h2 class="all-plants-title">Please log in here:</h2>

<div class="form-container">
   <div>
      <img class="plant-img" src="/images/plant3.png" alt="">
   </div>
   <div>
      <form class="form" action="/auth/login" method="POST">
         <label> Username
            <input type="text" name="username">
         </label>
         <label> Password
            <input type="password" name="password">
         </label>
      
         <button class="add-btn center-btn" type="submit">Submit</button>
      </form>
   </div>
</div>





   
