<h2 class="all-plants-title"Please sign up here:</h2>
<div class="form-container">
   <div>
      <img class="plant-img" src="/images/plant4.png" alt="">
   </div>
   <div>
      <form class="form" action="/auth/signup" method="POST">
         <label> Username
            <input type="text" name="username">
         </label>
         <label> Password
            <input type="password" name="password">
         </label>
      
         <button class="add-btn center-btn" type="submit">Submit</button>
         {{#if errorMessage}}
         <p>{{errorMessage}}</p>
         {{/if}}
      </form>
   </div>
</div>



   
