<div class="homepage">
    <div class="welcome">
        <div class="welcome-text">
            <h1>Welcome to plantin'</h1>
            <h2>hopefully your favorite plants' website</h2>
            <ul>
                <li>find the best plant for your needs</li>
                <li>learn how to take care of your plants</li>
                <li>buy new green friends</li>
            </ul>
        </div>
    </div>
    <div class="account-invite">
        <h2>Stay with us and create an account!</h2>
        <ul>With an account you can:
            <li>create a list of your plants</li>
            <li>track your shipments</li>
        </ul>
        <a href="/auth/login">LOG IN</a>
        <br>
        <a href="/auth/signup">SIGN UP</a>
    </div>
</div>