{{!-- <div>
    {{#if this}}
        <h2>Hello, {{ this.username }}!</h2>
        <a class="logout-btn" href="/auth/logout">LOG OUT</a>
    {{/if}}

    <h3>List of your favorite plants:</h3>
</div> --}}


{{#if this}}
    <h2>Welcome, {{ this.username }}!</h2>
    <p>You currently have a role: {{this.role}}</p>
    <ul>Your favorites plants:
        {{#each this.plantsList}}
        <li>hello</li>
        {{/each}}
    </ul>
    <a class="logout-btn" href="/auth/logout">LOG OUT</a>
{{else}}
    <p>Still no logged in user, sorry!</p>
{{/if}} 