<h2 class="all-plants-title">Add new plant:</h2>
<div class="form-container">
    <div>
        <img class="plant-img"  src="/images/plant1.png" alt="">
    </div>
    <div>
        <form class="form" action="/plants/plants-create" method="POST" enctype="multipart/form-data">
            <label class="form">Name:
                <input type="text" name="name" required>
            </label>
            <label>Description:
                <input type="text" name="description" required>
            </label>
            <label>Sun:
                <input type="text" name="sun" required>
            </label>
            <label>Water:
                <input type="text" name="water" required>
            </label>
            <label>Price:
                <input type="text" name="price" required>
            </label>
            <label>Image:
                <input   type="file" name="image" required>
            </label>
            <button class="add-btn center-btn" type="submit">Add new plant</button>
        </form>
    </div>
</div>
