<h2>Add new plant:</h2>
<form action="/plants/plants-create" method="POST">
    <label>Name:
        <input type="text" name="name">
    </label>
    <label>Description:
        <input type="text" name="description">
    </label>
    <label>Sun:
        <input type="text" name="sun">
    </label>
    <label>Water:
        <input type="text" name="water">
    </label>
    <label>Price:
        <input type="text" name="price">
    </label>
    <label>Image:
        <input type="text" name="image">
    </label>
    <button type="submit">Add new plant</button>
</form>